@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but keep functionality */
.sidebar-container::-webkit-scrollbar {
  display: none;
}

.sidebar-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}